@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Contoh */
.card{
  @apply overflow-hidden rounded-xl p-5 md:p-8  shadow-md hover:shadow-xl transition duration-300 ease-out
}

.input-text{
  @apply border rounded-lg w-full py-1 px-2 focus:outline-none focus:border-indigo-500 transition duration-100 ease-in text-gray-600
}

.input-span{
  @apply ml-1 text-sm text-gray-600
}

.btn-main{
  @apply bg-indigo-500 font-bold text-white rounded-lg py-1 px-2 focus:outline-none border border-indigo-500 hover:bg-indigo-700 transition duration-300 ease-out
}

.btn-outline{
  @apply hover:bg-gray-200 font-bold rounded-lg py-1 px-2 focus:outline-none border border-indigo-500 bg-transparent text-indigo-500 transition duration-300 ease-out
}

.txt-h1{
  @apply md:text-3xl font-bold text-indigo-500 tracking-wide text-2xl
}

.table-border:not(:last-child) {
  @apply border-black
}

.text-active{
  @apply text-indigo-500 cursor-pointer
}

.btn-icon{
  @apply rounded flex items-center justify-center
}

